.stick {
	margin:5px;
	padding:15px;
	width:200px;
}
.exit {
	background:url('exit.png') no-repeat;
	width:16px;
	height:16px;
	float:right;
	margin:-5px -5px 0 0;
	cursor:pointer;
}
.classic {
	border:1px solid #A7CD10;
	background-color:#E1FAB8;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
}
.classic.error {
	border:1px solid #E2365C;
	background-color:#F7C8D2;
}
.opacity {
	background:url('bg.png');
	color:#F4F4F4;
}
.next {
	background:url('bg1.png') repeat-x #FEF6BF;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.last {
	background-color:#CBECFA;
	border:1px solid #15A6E3;
}
.click-ex {
	width:50px;
	height:20px;
	border:1px solid #626262;
	background:url('pointer.gif') no-repeat left center #7A7A7A;
	color:#F4F4F4;
	float:left;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding-left:25px;
	padding-top:10px;
	margin-right:10px;
	cursor:pointer;
}
.ex pre {
	width:80%;
}





